# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\DataSave\IDEATest\Java\SpringBootAndVue\Chapter05\5_4\5_4_3\20220208\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
