# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\DataSave\IDEATest\Java\SpringBootAndVue\Chapter13\13_2\13_2_1\20220516\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
